:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  background-image: url('/Users/connorburns/Development/projects-portfolio/final-project/Frontend/final_project_app/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



/* NEW CODE STARTS HERE:  */



    /* NAVBAR SETUP */

header {
  margin-bottom: 70px;
}

.ticker-logo {
  padding-left: 1%;
}

.navbar {
  font-size: 30px;
  font-family: sans-serif;
}


.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-balance {
  margin-left: auto;
  color: rgb(116, 179, 116) !important;
}

.nav-logout {
  font-size: 20px !important;
}



      /* WELCOME PAGE COMPONENT */
.welcome-page {
  background-color: rgba(255, 255, 255, 0.4); 
  border-radius: 19px; 
  padding: 5%;
}

.welcome-h2 {
  font-size: 50px;
}

.welcome-text{
  font-weight: 700;
  font-size: 19px;


}








    /* STOCK CARD  COMPONENT */

.stock-card {
max-width: 100%;
}

.stock-card-container {
  width: 500px;
  
}


.stock-front {
  max-width: 500px; /* Adjust as needed */
  min-width: 500px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  min-height: 350px; /* Adjust as needed */
  overflow: auto;
}

.stock-front .card-body {
  height: 100%;
}

.stock-front .card-text {
  overflow: auto;
  max-height: 100%;
}

.stock-back {
  max-width: 500px; /* Adjust as needed */
  min-width: 500px; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  min-height: 500px; /* Adjust as needed */
  overflow: auto;
}

.stock-back .card-body {
  height: 100%;
}

.stock-back .list-group {
  overflow: auto;
  max-height: calc(100% - 40px); /* Adjust according to your layout */
}

.stock-back .list-group-item {
  overflow: hidden; /* Ensures items don't stretch the card */
  text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
  white-space: nowrap; /* Prevents text wrapping */
}



.news-title {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif; /* Use Times New Roman font */
  font-size: 34px; /* Adjust font size as needed */
  font-weight: bolder; /* Make the text bold */
  padding: 10px 10px; /* Add padding for spacing */

}

.metrics-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif; /* Use Times New Roman font */
  font-size: 34px; /* Adjust font size as needed */
  font-weight: bolder; /* Make the text bold */

}

.metrics-stock-name{
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif; /* Use Times New Roman font */
  font-size: 34px; /* Adjust font size as needed */
  font-weight: bolder; /* Make the text bold */
  padding: 10px 10px; /* Add padding for spacing */
}



      /* SLIDES COMPONENT  */

.slide1-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide1{
  text-align: center;
  color: black !important;
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 15%;

}

.slide2-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide2{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 5%;

}

.slide3-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide3{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 5%;

}

.slide4-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide4{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 5%;
}

.slide5-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide5{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 5%;
}


.slide6-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide6{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 1%;
}

.slide7-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide7{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 1%;
}

.last-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.last-slide{
  text-align: center;
  color: black !important;
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 15%;

}


.invest-company-name{
  font-weight: bolder;
}

.invest-purchase-amount{
  display: flex;
  justify-content: center;
}

