:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-image: url('/Users/connorburns/Development/projects-portfolio/final-project/Frontend/final_project_app/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* NEW CODE STARTS HERE:  */

@tailwind base;
@tailwind components;
@tailwind utilities;



    /* NAVBAR SETUP */

header {
  margin-bottom: 20px;
}

.ticker-logo {
  padding-left: 1%;
  margin: -.2%;
}

.navbar {
  font-size: 20px;
  font-family: sans-serif;
}


.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-balance {
  margin-left: auto;
  color: rgb(6, 144, 6) !important;
}

.nav-logout {
  font-size: 20px !important;
}



      /* WELCOME PAGE COMPONENT */
.welcome-page {
  background-color: rgba(255, 255, 255, 0.4); 
  border-radius: 19px; 
  padding: 5%;
}

.welcome-h2 {
  font-size: 50px;
}

.welcome-text{
  font-weight: 700;
  font-size: 19px;

}





    /* STOCK CARD  COMPONENT */

.body-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.stock-card {
max-width: 100%;
}

.stock-card-container {
  width: 500px;
  
}

.stock-front {
  max-width: 500px; /* Adjust as needed */
  min-width: 500px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  min-height: 350px; /* Adjust as needed */
  overflow: auto;
}

.stock-front .card-body {
  height: 100%;
}

.stock-front .card-text {
  overflow: auto;
  max-height: 100%;
}

.stock-back {
  max-width: 500px; /* Adjust as needed */
  min-width: 500px; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  min-height: 500px; /* Adjust as needed */
  overflow: auto;
}

.stock-back .card-body {
  height: 100%;
}

.stock-back .list-group {
  overflow: auto;
  max-height: calc(100% - 40px); /* Adjust according to your layout */
}

.stock-back .list-group-item {
  overflow: hidden; /* Ensures items don't stretch the card */
  text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
  white-space: nowrap; /* Prevents text wrapping */
  font-size: large;
  font-weight: bold;
}


      /* MARKET NEWS  */

.news-page {
  justify-content: center !important;
  align-items: center !important;
  /* background-image: url('/Users/connorburns/Development/projects-portfolio/final-project/Frontend/final_project_app/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.news-card {
  background-image: url('/Users/connorburns/Development/projects-portfolio/final-project/Frontend/final_project_app/src/assets/background.jpg');
  background-size:auto;
  background-repeat: no-repeat;
  margin: 3%;
  margin-left: 5%;

}

.news-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif; /* Use Times New Roman font */
  font-size: 34px; /* Adjust font size as needed */
  font-weight: 500; /* Make the text bold */
  padding: 3px 3px; /* Add padding for spacing */

}


     /* METRICS PAGE  */


.metrics-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif; /* Use Times New Roman font */
  font-size: 34px; /* Adjust font size as needed */
  font-weight: bolder; /* Make the text bold */

}

.metrics-stock-name{
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif; /* Use Times New Roman font */
  font-size: 34px; /* Adjust font size as needed */
  font-weight: bolder; /* Make the text bold */
  padding: 10px 10px; /* Add padding for spacing */
}



      /* SLIDES COMPONENT  */

.slide1-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide1{
  text-align: center;
  color: black !important;
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 10%;

}

.slide2-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide2{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 5%;

}

.slide3-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide3{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%

}

.slide4-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide4{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}

.slide5-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide5{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}


.slide6-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide6{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: x-large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}

.slide7-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide7{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}

.slide8-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide8{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 6%
}

.slide9-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide9{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}

.slide10-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide10{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}

.slide11-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide11{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 5%
}

.slide12-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide12{
  text-align: center;
  color: black !important;
  font-weight: 600;
  font-size: large;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 10%
}

.last-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.last-slide{
  text-align: center;
  color: black !important;
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 10%;

}

.slides-button {
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
  background-color: rgb(74, 213, 238);
  height: 50px;
  width: 100px;
  margin-top: 5%;
  border-radius: 11%;
}



    /* INVEST MODAL  */


.invest-company-name{
  font-weight: bolder;
}

.invest-purchase-amount{
  display: flex;
  justify-content: center;
}




    /* PORTFOLIO COMPONENT */

.portfolio-container {
  padding: 10px;
  align-items: center;
  
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start /* or justify-content: space-between; */
}

.card-item {
  align-items: center;
  width: 320px; /* Set your desired width */
  margin-right: 20px  ;
  margin-bottom: 20px; /* Adjust as needed */
}


.each-transaction {
  font-size: small !important;
}

.portfolio-card-company-name{
  margin: 5%;
}


.search-container{
  margin-top: 20%;
justify-content: center;
align-items: center;
}

.search-title {
margin: 3%;
margin-bottom: 6%;
}


    /* FOOTER  */


.footer:hover .footer-slides {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-370%)
  }
}


.header {
  margin-top: 40px;
  background-color: black;
  overflow: hidden;
  padding: 10px 0;
  background-color: black;
  white-space: nowrap;
}


.top-trades {
  display: flex;
  animation: 50s slide infinite linear;
  justify-content: center;

}


.top-trades-slides {
  background-color: black;

}


.top-trades-text {
  height: 10px;
  margin-right: 40px;
  margin-left: 40px;
  font-family: monospace;
  color: white;

}

.sell-buy-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-link{
  margin: 0 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em .8em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;

}

.buy-link {
  margin: 0 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em .8em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: red;
  cursor: pointer;
  transition: border-color 0.25s;
}



.sell-container {
  padding: 5%;
  background: rgb(255, 255, 255, .8);
  width: 700px;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.buy-container {
  padding: 5%;
  background: rgb(255, 255, 255, .8);
  width: 700px;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}